html {
  background-color: #f2f7f2;
}

body {
  max-width: 1280px;
  justify-content: center;
  margin: 0 auto;
  font-size: 18px;
  font-family: "Source Sans Pro", Sans-Serif;
}

nav {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  background-color: #bcaa99;
  padding: 1rem;
}

main {
  min-height: 70vh;
  margin: 0 1rem;
}

ul li {
  display: inline-block;
  margin: 0 25px;
}

a {
  color: #333;
  text-decoration: none;
  font-weight: 700;
}

#about-me {
  width: 100%;
  display: flex;
}

.about-info {
  width: 70%;
  margin-right: 4rem;
  text-align: justify;
  line-height: 1.5;
}

#ada-portrait {
  width: 30%;
  height: 350px;
}

.hidden {
  display: none;
}

h1,
h2 {
  font-family: "Playfair Display", Serif;
  font-style: italic;
}

h2 {
  color: #bbbe64;
  font-size: 2.5rem;
}

h1 {
  font-size: 3rem;
  color: #f2f7f2;
}

.drop-down {
  font-size: 2rem;
  font-weight: 700;
  color: #8e5572;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.drop-down i {
  margin-right: 2rem;
  cursor: pointer;
}

footer {
  margin-top: 20px;
  background-color: #443850;
  padding: 1rem;
}

.signature-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.babbage-nav {
  background-color: #009fd4;
}

.babbage-nav h1 {
  color: #f4d35e;
  font-family: "Roboto", Sans-Serif;
  font-size: 48px;
  font-style: normal;
}

.byron-nav {
  font-family: "Staatliches", cursive;
  background-color: #ff0000;
  color: #dfdfdf;
}

.byron-nav h1 {
  font-family: "Staatliches", cursive;
  color: #dfdfdf;
  font-style: normal;
}

.byron-row {
  display: flex;
  width: 100%;
  justify-content: center;
}

.byron-row h2 {
  font-family: cursive;
  color: #242424;
}

.byron-row img {
  width: 600px;
  height: 600px;
}

blockquote {
  margin: 0;
  width: 500px;
}

blockquote p {
  padding: 55px;
  background: #eee;
  border-radius: 5px;
}

blockquote div {
  text-align: end;
}

#quote {
  display: flex;
  justify-content: center;
}

blockquote p::before {
  content: "\201C";
}

blockquote p::after {
  content: "\201D";
}

/* Font-Family: 'Lora', Serif;
Font-Size: 14px; */
.bryon-footer {
  margin-top: 2rem;
  padding: 2rem;
  background-color: #242424;
  color: #ff0000;
  display: flex;
  justify-content: space-around;
}

#babbage-img {
  width: 100%;
  display: flex;
  justify-content: center;
}

#babbage-img img {
  width: 300px;
  height: 300px;
}

#bab-heading {
  text-align: center;
  color: #333;
  font-style: normal;
}

.engine {
  display: flex;
  justify-content: center;
}

.engine img {
  width: 800px;
  height: 800px;
}
